<section class="vh-100" style="background : url(../assets/bg3.png);background-size: cover;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg p-1">
                    <div class="card-body p-5">

                        <h3 class="mb-1">Sign up with your email</h3>
                        <p class="h8">Already have an account? <a href="/">Sign In</a></p>
                        <br>
                        <div class="form-floating mb-4">
                            <input type="text" id="firstName" class="form-control" />
                            <label for="firstName">First Name</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="text" id="lastName" class="form-control" />
                            <label for="lastName">Last Name</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="email" id="typeEmail" class="form-control" />
                            <label for="typeEmail">Email Address</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" id="typePassword" class="form-control" />
                            <label for="typePassword">Password</label>
                        </div>

                        <button class="shadow-lg p-3 mb-5 btn btn-primary btn-lg btn-block form-control" type="submit">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>